*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header{
    margin-top:47px;
    margin-left: 42px;
   

}

.header-link{
    font-size: 15px;
    letter-spacing: 0.88px;
    text-decoration: none;
    color: #17233D;
    margin: 15px;
    cursor: pointer;

}

.button-header{
    width: 124px;
    height: 51px;
    background-color: #6FBF44;
    color: #ffffff;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}

section{
    display: inline-block;
    margin-left: 40px;
}

h1{
    font-size: 62px;
    font-weight: bold;
    width: 582px;
    height: 164px;
    color:#161A49 ;
    line-height: 82px;
    letter-spacing: 0.6px;
    
}

p{
    width:493px;
    color: #4B505A;
    line-height: 33px;
    letter-spacing: 0.5px;
    
}

.img-main{
    width: 595.18px;
    height: 500px;
    font-size: 18px;
    margin-top: 90px;
    margin-left: 121px;
    display: inline-block;
}

.link-section{
    margin-top: 40px;
    font-size: 18px;
    display: inline-block;
    color: #6FBF44;
    cursor: pointer;
    text-decoration: none;
}



